body {
    font-family: Baskerville;
    background: #eeeeee;
}
#header {
    background: #2c5f85 !important;
    height: 60px;
}
#main-area {
    display: inline-flex;
    width: 100%;
    height: calc(100vh - 60px);
}
#input-area {
    width: 49%;
    height: 93%;
}
#formatted-area {
    flex: 1;
    height: 93%;
}
#copy-button {
    position: absolute;
    top: 3px;
    right: 5px;
    z-index: 999;
    background: transparent;
}
#copy-button:hover {
    background: #eeeeee;
}
#copy-button:active {
    background: #d8d8d8;
}
#copy-button:focus {
    outline: none;
}
h3 {
    color: white;
}
select {
    border-color: #d8d8d8;
    background-color: white;
}
select:focus {
    box-shadow: 0px 0px 3px #234d6b;
    outline: none;
}
.subheading {
    color: #234d6b;
    font-weight: bold;
}
.text-container {
    position: relative;
    height: 100%;
}
.CodeMirror-selected {
    background-color: rgba(200, 200, 100, 0.5) !important;
}
.CodeMirror {
    font-family: 'Courier', monospace;
    font-size: 16px;
}
.toast-top-right {
    top: 70px;
}
span .highlighted {
    background: rgba(200, 200, 0, 0.5);
}
span .syntax-error {
    background: rgba(255, 0, 0, 0.7);
    border-bottom: red;
}
span .syntax-error-line {
    background: rgba(255, 0, 0, 0.4);
}
