body {
    font-family: Baskerville;
    background: #eeeeee;
}
#header {
    background: #2c5f85 !important;
    height: 60px;
}
#main-area {
    display: inline-flex;
    width: 100%;
    height: calc(100vh - 60px);
}
#input-area {
    left: 0;
    width: 50%;
    height: 100%
}
#formatted-area {
    flex: 1;
    width: 50%;
    height: 100%
}
#copy-button:focus {
    outline: none;
    box-shadow: none;
}
.CodeMirror-selected {
    background-color: rgba(200, 200, 100, 0.5) !important;
}
.CodeMirror {
    font-family: 'Courier', monospace;
    font-size: 16px;
}
.toast-top-right {
    top: 70px;
}
span .highlighted {
    background: rgba(200, 200, 0, 0.5);
}
span .syntax-error {
    background: rgba(255, 0, 0, 0.7);
    border-bottom: red;
}
span .syntax-error-line {
    background: rgba(255, 0, 0, 0.4);
}
